{% extends "base.html" %}

{% block content %}

<style>

xdiv {
  border: 1px solid red;
}

a {
  color: #0084B4;
  text-decoration: none;
}

.tweet {
  background-color: white;
  color: black;
  font-family: "Gotham Narrow SSm",sans-serif;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  margin: 0 auto;
  width: 600px;
  padding: 10px;
  clear: both;
}

.profile {
  float: left;
  height: 300px;
  margin-right: 12px; 
}

.profile img {
  width: 60px;
  border-radius: 4px;
}

.profile2 {
  margin-left: 8px;
}

.name {
  font-weight: bold;
  margin-bottom: 4px;
}

.handle {
  color: #8899a6;
  margin-bottom: 4px;
}

.text {
  margin: 4px 0px 4px 0px;
}

.song {
  font-size: .8em;
  font-style: italic;
}

.crop {
    margin: 6px 0px 6px 0px;
    border-radius: 4px;
    width: 500px;
    height: 200px;
    overflow: hidden;
}

.crop img {
    width: 500px;
    margin: -200px 0 0 0;
}

</style>

{% if playlist and playlist.0 %}

{% for pair in playlist %}
{% if forloop.first %}
  <div class="title">Now Playing</div>
{% endif %}
<div class="tweet">
    <div class="profile">
      <img src="{{pair.0.user.profile_image_url}}">
    </div>
    <div class="profile2">
        <span class="name">{{pair.0.user.name}}</span>
        <span class="handle"><a href="http://twitter.com/{{pair.0.user.screen_name}}/status/{{pair.0.id}}" target="_target">@{{pair.0.user.screen_name}}</a></span>
        <div class="text">{{pair.0.text}}</div>
        <div class="crop">
          <img src="https://partner.api.beatsmusic.com/v1/api/tracks/{{pair.1.id}}/images/default?client_id={{settings.SOCIAL_AUTH_BEATS_KEY}}&size=large">
        </div>
        <div class="song">{{pair.1.detail}}, "{{pair.1.display}}"</div>
      </div>
    </div>
</div>
{% endfor %}

{% else %}

<div class="title">Tweet a song title to @{{request.user.username}}</div>

{% endif %}
  
<br><br>

<form action="">authentication
    <input type="text" id="accessToken" size="50">
    <br>trackId
    <input type="text" id="trackId" size="50">
    <br>autoplay
    <input id="autoplay" type="checkbox" checked>
    <br>loop
    <input id="loopStream" type="checkbox">
    <br>
    <input id="loadStream" type="button" value="Load">
    <input id="playStream" type="button" value="Play">
    <input id="pauseStream" type="button" value="Pause">
    <input id="stopStream" type="button" value="Stop">
    <br>seek to
    <input type="text" id="seek" size="20">
    <input id="doSeek" type="button" value="Set">
    <br>volume
    <input type="text" id="volume" size="7">
    <input id="doVolume" type="button" value="Set">
    <input id="volumeDown" type="button" value="-">
    <input id="volumeUp" type="button" value="+">
    <input id="muted" type="button" value="unmute">
    <input id="unmuted" type="button" value="mute">
    <br>
    <div id="trackName"></div>
    <div id="timeDuration"></div>
    <div id="timeElapsed"></div>
    <div id="timeRemaining"></div>
    <div>Buffered</div>
    <div id="timeBufferedStart"></div>
    <div id="timeBufferedEnd"></div>
    <div id="timeBufferedLength"></div>
    <div>Seekable</div>
    <div id="timeSeekableStart"></div>
    <div id="timeSeekableEnd"></div>
    <div id="timeSeekableLength"></div>
</form>

<!--

<br><br>

{{ me }}

<br><br>

{{ playlist }}

<br><br>

-->

<script src="http://bam.cdn.beatsmusic.com/bam-1.0.2.min.js"></script>
<script language="JavaScript1.2">

var bam = new BeatsAudioManager();
bam.on("ready", handleReady);
bam.on("durationchange", handleDuration);
bam.on("loadedmetadata", handleMetadataLoaded);
bam.on("canplay", handleStreamStarted);
bam.on("playing", handleStreamPlaying);
bam.on("pause", handleStreamPaused);
bam.on("stopped", handleStreamStopped);
bam.on("stalled", handleStreamStalled);
bam.on("ended", handleStreamEnded);
bam.on("timeupdate", handleTimeUpdate);
bam.on("volumechange", handleVolumeChange);
bam.on("error", handleError);

function handleReady(value) {

    //show console
    // bam_engine.style.width = "500px";
    // bam_engine.style.height = "300px";
    // set credentials
    bam.clientId = '{{ me.result.client_id }}';
    bam.authentication = {
        access_token: '{{ beats.access_token }}',
        user_id: '{{ me.result.user_context }}'
    };
    bam.identifier = '{{ track.1.id }}'; 
    trackId.value = bam.identifier; // show trackId
    accessToken.value = bam.authentication.access_token; // show auth token

    muted.hidden = true;
    pauseStream.hidden = true;

    loadStream.onclick = function () {
        bam.authentication = {
            access_token: accessToken.value,
            user_id: "{{ me.result.user_context }}"
        };
        // bam.authentication = accessToken.value;
        bam.identifier = trackId.value;
        bam.load();
    };

    playStream.onclick = function () {
        bam.play();
    };

    pauseStream.onclick = function () {
        bam.pause();
    };

    stopStream.onclick = function () {
        bam.stop();
        showPause(false);
    };

    doVolume.onclick = function () {
        bam.volume = volume.value;
    };

    volumeUp.onclick = function () {
        bam.volume += 0.1;
    };

    volumeDown.onclick = function () {
        bam.volume -= 0.1;
    };

    muted.onclick = function () {
        bam.muted = false;
        toggleMute();
    };

    unmuted.onclick = function () {
        bam.muted = true;
        toggleMute();
    };

    autoplay.onclick = function () {
        bam.autoplay = autoplay.checked;
    };

    loopStream.onclick = function () {
        bam.loop = loopStream.checked;
    };

    doSeek.onclick = function () {
        bam.currentTime = seek.value;
        togglePause(false);
    };
    
    // autoplay
    bam.load();
}

function handleError(value) {
    console.log("Error: " + value);
    switch (value) {
        case "auth":
            // Beats Music API auth error (401)
            break;
        case "connectionfailure":
            // audio stream connection failure
            break;
        case "apisecurity":
            // Beats Music API crossdomain error
            break;
        case "streamsecurity":
            // audio stream crossdomain error
            break;
        case "streamio":
            // audio stream io error
            break;
        case "apiio":
            // Beats Music API io error getting track data
            break;
        case "flashversion":
            // flash version too low or not installed (10.2)
            break;
    }
}

function handleDuration(value) {
    timeDuration.innerHTML = "Duration: " + value;
    debug("bam:handleDuration: " + value);
}

function handleStreamStarted() {
    debug("bam:handleStreamStarted");
    showPause(true);
}

function handleStreamStalled() {
    debug("bam:handleStreamStalled");
    showPause(false);
}

function handleStreamStopped() {
    debug("bam:handleStreamStopped");
    showPause(false);
}

function handleStreamPaused() {
    debug("bam:handleStreamPaused");
    showPause(false);
}

function handleStreamPlaying() {
    debug("bam:handleStreamPlaying");
    showPause(true);
}

function handleStreamEnded() {
    debug("bam:handleStreamEnded");
    showPause(false);
    window.location("/beats?fav={{ track.1.id }}");
}

function handleMetadataLoaded(data) {
    trackName.innerHTML = "Title:" + data.display;
    debug("bam:handleMetadataLoaded");
}

function handleVolumeChange(data) {
    volume.value = data.volume;
    debug("bam:handleVolumeChange");
}

function handleTimeUpdate() {
    var elapsed = bam.currentTime;
    var buffered = bam.buffered;
    var seekable = bam.seekable;
    var remaining = bam.duration - elapsed;
    timeElapsed.innerHTML = "Elapsed: " + elapsed;
    timeRemaining.innerHTML = "Remaining: " + remaining;
    timeBufferedStart.innerHTML = "Start: " + buffered.start;
    timeBufferedEnd.innerHTML = "End: " + buffered.end;
    timeBufferedLength.innerHTML = "Length: " + buffered.length;
    timeSeekableStart.innerHTML = "Start: " + seekable.start;
    timeSeekableEnd.innerHTML = "End: " + seekable.end;
    timeSeekableLength.innerHTML = "Length: " + seekable.length;

}

function showPause(value) {
    if (value == true) {
        playStream.hidden = true;
        pauseStream.hidden = false;
        return;
    }
    playStream.hidden = false;
    pauseStream.hidden = true;
}

function toggleMute() {
    muted.hidden = !muted.hidden;
    unmuted.hidden = !unmuted.hidden;
}

function debug(value) {
    if (console.log && window.console) {
        console.log(value);
    }
}

</script>

{% endblock %}